yarnPath: .yarn/releases/yarn-3.2.0.cjs
checksumBehavior: 'update'
enableGlobalCache: false
nodeLinker: node-modules

npmScopes:
    {
        metalabsog:
            {
                npmAlwaysAuth: true,
                npmRegistryServer: 'https://npm.pkg.github.com',
                npmAuthToken: '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',
            },
    }
