--install.ignore-engines true
--install.ignore-scripts false
--install.no-bin-links false
--install.no-lockfile false
--install.non-interactive false
--network-timeout 300000

"@metalabsog:registry" "https://npm.pkg.github.com"
"//npm.pkg.github.com/:_authToken" "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" 