@font-face {
    font-family: 'Mandinor';
    src: url('../fonts/Mandinor-Italian-FY-Regular.woff');
    src: url('../fonts/Mandinor-Italian-FY-Regular.woff2');
    src: url('../fonts/Mandinor.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff');
    src: url('../fonts/Inter-Regular.woff2');
    src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: 'Korona One';
    src: url('../fonts/krona-one-v9-latin-regular.woff');
    src: url('../fonts/krona-one-v9-latin-regular.woff2');
    src: url('../fonts/KronaOne-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: '#05FF00';
    --white: '#E0E0E0';
    --lightGray: '#B6B9BD';
    --gray: '#676767';
    --darkGray: '#1F1F1F';
    --red: '#d0373a';
}

.mobile {
    display: none;
}

@media (max-width: 1160px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 640px) {
    .desktop {
        display: none;
    }

    .mobile {
        width: 100%;
        display: flex !important;
        justify-content: center !important;
    }

    .container {
        min-width: 272px;
        width: 100%;
    }
}
