.token_price_text {
    color: var(--lightGray);
    font-family: 'Montserrat', serif;
    font-weight: normal;
    font-size: 14px;
}

.token_price_value {
    color: #5cfc3c;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.token_price_zap_value {
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
}

.token_price_delta {
    color: #5cfc3c;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

.dex_name {
    color: rgb(71, 71, 71);
    font-family: 'Montserrat';
    font-size: 12px;
    margin-top: 5px;
}

.best_swap_res {
    color: white;
    font-size: 15px;
}

.swap_path {
    color: #8b8b8b;
    margin-top: 5px;
    font-size: 11px;
    text-align: center;
}
