.swap_button {
    height: 50px;
    width: 100%;
    border: 1px solid #009427;
    color: var(--newWhite);
    background: rgba(66, 201, 63, 0.7);
    border-radius: 16px;
    margin-top: 20px;

    font-family: 'Korona One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;

    cursor: pointer;
}

.swap_button:hover {
    background: rgba(66, 201, 63, 0.84);
}

.swap_button.loading {
    height: 50px;
    position: relative;
    border: 1px solid var(--green);
}

.swap_button.loading:hover {
    border: 1px solid var(--green);
    background-color: transparent;
    cursor: default;
}

.loading {
    background-color: inherit;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_button {
    height: 50px;
    width: 350px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Korona One';
    cursor: pointer;

    border: 0px;
    color: #B9B9B9;
    background-color: black;
}

.price_button.loading {
    border: 1px solid #5cfc3c;
    color: #5cfc3c;
    background-color: inherit;
    position: relative;
}

.price_button.loading:hover {
    border: 1px solid #5cfc3c;
    background-color: black;
}

.price_button:hover {
    color: black;
    background-color: #5cfc3c;
    border: 0;
}

.claim_button {
    width: 115px;
    height: 34px;
    background-color: inherit;
    color: white;
    border: 1px solid #B6B9BD;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Korona One';

    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    position: relative;
}

.claim_button:hover {
    border: 1px solid #009427;
    color: black !important;
    background-color: transparent;
    text-shadow: none;
}

.claim_button:hover:before {
    bottom: 0;
    top: auto;
    height: 100%;
}

.claim_button:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 0;
    content: '';
    color: black !important;
    background: linear-gradient(270deg, #06a903 1.29%, #00ff29 100%);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.claim_button.loading {
    color: var(--gray);
    border: 1px solid #676767;
    position: relative;
    transition: none;
}

.claim_button.loading:hover {
    background: transparent;
    cursor: default;
    border: 1px solid #676767;
}

.claim_button.loading:hover:before {
    height: 0;
}

.claim_button.inactive {
    color: var(--gray) !important;
    cursor: default;
    border-color: var(--gray);
    transition: none;
}

.claim_button.inactive:hover {
    background: transparent;
    border: 1px solid #676767;
}

.claim_button.inactive:hover:before {
    height: 0;
}

.token_input_button {
    background-color: inherit;
    color: white;
    width: 120px;
    min-height: 33px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-family: 'Korona One';
    font-size: 12px;
    border: 1px solid #B6B9BD;

    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    position: relative;
}

.token_input_button:hover {
    border: 1px solid #009427;
    color: black !important;
    background-color: transparent;
    text-shadow: none;
}

.token_input_button:hover:before {
    bottom: 0;
    top: auto;
    height: 100%;
}

.token_input_button:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 0;
    content: '';
    color: black !important;
    background: linear-gradient(270deg, #06a903 1.29%, #00ff29 100%);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.token_input_button.loading {
    color: #828282;
    position: relative;
    cursor: default;
    transition: none;
}

.token_input_button.loading:hover {
    border: 1px solid #676767;
}

.token_input_button.loading:hover:before {
    height: 0;
}

.token_input_button.inactive {
    color: var(--gray) !important;
    border: 1px solid;
    border-color: var(--gray);
    cursor: default;
    transition: none;
}

.token_input_button.inactive:hover {
    background: transparent;
    border: 1px solid #676767;
}

.token_input_button.inactive:hover:before {
    height: 0;
}