.swap_button {
    height: 50px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid #5cfc3c;
    color: #5cfc3c;
    background-color: #000;
    margin-top: 20px;

    font-family: 'Korona One';
    font-size: 15px;

    cursor: pointer;
}

.swap_button:hover {
    color: black;
    background-color: #5cfc3c;
    border: 0;
}

.swap_button.loading {
    height: 50px;
    position: relative;
}

.swap_button.loading:hover {
    border: 1px solid #5cfc3c;
    background-color: transparent;
    cursor: default;
}

.loading {
    background-color: inherit;
    position: absolute;
    border-radius: 8px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_button {
    height: 50px;
    width: 350px;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 15px;
    font-family: 'Korona One';
    cursor: pointer;

    border: 0px;
    color: #B9B9B9;
    background-color: #000;
}

.price_button.loading {
    border: 1px solid #5cfc3c;
    color: #5cfc3c;
    background-color: inherit;
    position: relative;
}

.price_button.loading:hover {
    border: 1px solid #5cfc3c;
    background-color: #000;
}

.price_button:hover {
    color: black;
    background-color: #5cfc3c;
    border: 0;
}

.claim_button {
    width: 115px;
    height: 34px;
    background-color: inherit;
    color: white;
    border: 1px solid #B6B9BD;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Korona One';
}

.claim_button:hover {
    background: linear-gradient(270deg, #06A903 1.29%, #00FF29 100%);
    border: 1px solid #009427;
    color: black;
}

.claim_button.loading {
    color: var(--gray);
    border: 1px solid #676767;
    position: relative;
}

.claim_button.loading:hover {
    background: transparent;
    cursor: default;
}

.claim_button.inactive {
    color: var(--gray);
    cursor: default;
    border-color: var(--gray);
}

.claim_button.inactive:hover {
    background: transparent;
}

.token_input_button {
    background-color: inherit;
    color: white;
    width: 120px;
    min-height: 33px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-family: 'Korona One';
    font-size: 12px;
    border: 1px solid #B6B9BD;
}

.token_input_button:hover {
    background: linear-gradient(270deg, #06A903 1.29%, #00FF29 100%);
    border: 1px solid #009427;
    color: black;
}

.token_input_button.loading {
    color: #828282;
    position: relative;
    cursor: default;
}

.token_input_button.inactive {
    color: var(--gray);
    border: 1px solid;
    border-color: var(--gray);
    cursor: default;
}

.token_input_button.inactive:hover {
    background: transparent;
}